; Make sure our commits are correctly tagged with our name
[user]
  name = 3rd-Eden
  email = info@3rd-Eden.com

; Fix the editor path in Mac OSX lion and show whitespace
[core]
  editor = /usr/bin/vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

; Always default to opendiff (FileMerge from Mac) for merging and diffing
[diff]
  tool = opendiff

[merge]
  tool = opendiff

; Setup some colors to make git commands a bit more readable
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  new = green bold

; setup some git command aliases
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lola = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  ff = merge --ff-only
  ls = ls-files

  ; Regulur pull/push from upstream repositories
  pup = "!git pull upstream master && git push"

  ; Shortcut for git fetch and ff
  fff = "!git fetch && git ff $1"

  ; Show files ignored by git
  ign = ls-files -o -i --exclude-standard

  ; Update all the submodules to the latest version
  pullsub = submodule foreach git pull

  ; Github url shortening
  ; https://github.com/blog/985-git-io-github-url-shortener
  shorten = "!sh -c 'curl -i http://git.io -F url=$1' -"
  vomit = commit
  comit = commit
  push-it = "!git fetch && git stash && git rebase origin/master && git stash pop && git push"
[push]
  default = simple
